# ESPHome secrets file - DO NOT COMMIT TO GIT
wifi_ssid: "your-wifi-ssid"
wifi_password: "your-wifi-password"
api_encryption_key: "your-api-encryption-key"
ota_password: "ecoworthy_ota_2024"
ap_password: "ecoworthyfallback"
